
/*.nananana{
	font-size:large;
	background:linear-gradient(transparent 50%, #FFFF66 80%);
}*/

/*h2 {
  position: relative;
  display: inline-block;
  height: 64px;
  margin-left: 30px;
  padding: 1rem 2rem 1rem 3rem;
  color: #fff;
  background: #8a2be2;
}

h2:before {
  position: absolute;
  top: 0;
  left: -30px;
  content: '';
  border-width: 32px 30px 32px 0;
  border-style: solid;
  border-color: transparent #8a2be2 transparent transparent;
}

h2:after {
  position: absolute;
  top: calc(50% - 7px);
  left: -10px;
  width: 14px;
  height: 14px;
  content: '';
  border-radius: 50%;
  background: #fff;
}*/

/*タイトル*/

h2 {
  position: fixed;
  display: inline-block;
  height: 1em 0;
  margin-left: 20px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: #fff;
  background: #8a2be2;
}

h2:before {
  position: absolute;
  top: 0;
  left: -17px;
  content: '';
  border-width: 14px 17px 14px 0;
  border-style: solid;
  border-color: transparent #8a2be2 transparent transparent;
}

h2:after {
  position: absolute;
  top: calc(50% - 3px);
  left: -5px;
  width: 5px;
  height: 5px;
  content: '';
  border-radius: 50%;
  background: #fff;
}







/*入力欄*/



.form-label{
	display: block;
	width: 7em;
	margin: 5px;
	background: #EFEFEF;
}

.form-control0{
	display: block;
	width: 200px;
	margin: 7px;
	background: #b0c4de;

}

.form-control1{
	display: block;
	width: 200px;
	margin: 7px;
	background: #f0e68c;

}

.form-control2{
	display: block;
	width: 200px;
	margin: 7px;
	background: #d8bfd8;

}

/*曜日ボタン*/

.moon,
.fire,
.water,
.wood,
.gold,
.all {
  color: #fff;
  padding: 5%;
  width: 70px;
  height: 60px;
  text-align: center;
  border: none;
  margin: 0px 0px 0px 5px;
  line-height:2px;

  mix-blend-mode: multiply;
}


.moon{
  background: #f66;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
}

.fire{
	background: #f92;
  border-radius: 80% 30% 50% 50%/50%;
}

.water{
	background: #fc2;
  border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
}

.wood{
	background: #f66;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
}

.gold{
	background: #fc2;
  border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
}

.all{
	background: #f92;
  border-radius: 80% 30% 50% 50%/50%;
}












/*.circle-1,
.circle-2,
.circle-3 {
  color: #fff;
  padding: 5%;
  width: 180px;
  height: 180px;
  margin: 0 -15px;
  mix-blend-mode: multiply;
}
.circle-1 {
  background: #f66;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
}
.circle-2 {
  background: #f92;
  border-radius: 80% 30% 50% 50%/50%;
}
.circle-3 {
  background: #fc2;
  border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
}

body {
  display: flex;
  justify-content: center;
  padding: 20px;
  background: #ffd;
}

@media (max-width: 600px) {
  body {
    flex-direction: column;
  }
}*/

/*.btnbtn-outline-primary,
.circle-2,
.circle-3 {
  color: #fff;
  padding: 5%;
  width: 180px;
  height: 180px;
  margin: 0 -15px;
  mix-blend-mode: multiply;
}
.btnbtn-outline-primary {
  background: #f66;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
}
.circle-2 {
  background: #f92;
  border-radius: 80% 30% 50% 50%/50%;
}
.circle-3 {
  background: #fc2;
  border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
}

body {
  display: flex;
  justify-content: center;
  padding: 20px;
  background: #ffd;
}

@media (max-width: 600px) {
  body {
    flex-direction: column;
  }
}
*/












