
/*.nananana{
	font-size:large;
	background:linear-gradient(transparent 50%, #FFFF66 80%);
}*/

/*h2 {
  position: relative;
  display: inline-block;
  height: 64px;
  margin-left: 30px;
  padding: 1rem 2rem 1rem 3rem;
  color: #fff;
  background: #8a2be2;
}

h2:before {
  position: absolute;
  top: 0;
  left: -30px;
  content: '';
  border-width: 32px 30px 32px 0;
  border-style: solid;
  border-color: transparent #8a2be2 transparent transparent;
}

h2:after {
  position: absolute;
  top: calc(50% - 7px);
  left: -10px;
  width: 14px;
  height: 14px;
  content: '';
  border-radius: 50%;
  background: #fff;
}*/

body{
	background-color: #fff8dc;
}

/*タイトル*/

h2 {
  position: fixed;
  display: inline-block;
  height: 1em 0;
  margin-left: 20px;
  margin:3px 0px 0px 17px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: #fff;
  background: #594639;
}

h2:before {
  position: absolute;
  top: 0;
  left: -17px;
  content: '';
  border-width: 14px 17px 14px 0;
  border-style: solid;
  border-color: transparent #594639 transparent transparent;
}

h2:after {
  position: absolute;
  top: calc(50% - 3px);
  left: -5px;
  width: 5px;
  height: 5px;
  content: '';
  border-radius: 50%;
  background: #fff;
}







/*入力欄*/



/*.form-label{
	display: block;
	width: 7em;
	margin: 5px;
	background: #EFEFEF;
	border: none;
}*/


.form-control0{
	/*display: block;*/
	/*width: 200px;
*/	/*margin: 20px 10px -20px 0px;*/
	/*background: #ffffff;*/
	/*border: none;*/
	/*border-radius: 20% 20% 20% 20%/70% 70% 70% 70%;*/

}

.form-control1{
	/*display: block;
	width: 200px;*/
	margin: 0px -4px 0px 3px;
	/*background: #ffffff;*/
	/*border: none;*/
}


.form-control2{
	/*display: block;
	width: 200px;*/
	/*margin: -20px 10px 0px 0px;*/
	/*background: #ffffff;*/
	/*border: none;*/
}

.form-control3{
	display: block;
	width: 70px;
	/*margin: -5px 3px 0px;*/
	background: #fff8dc;
	/*border: none;*/
}



/*文字*/
.jii,
.mochi,
.mem,
.san{
	margin: 15px 0px 10px 3px;
}


/*枠お試し*/
.mb-3 {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}
input {
  padding: 1.1%;
  width: 100px;
  margin: 0px 0px 0px 3px;
  background: #fff;
}
.form-control3{
  border-radius: 240px 13px 90px 13px / 13px 200px 13px 185px;
  border: 1px solid #333;
  border-color: #8b4513
}
.form-control1 {
  border-radius: 200px 15px 110px 15px / 20px 200px 15px 185px;
  border: 1px dotted #333;
  border-color: #8b4513
}
.form-control2 {
  border-radius: 200px 15px 100px 15px / 15px 190px 15px 185px;
  border: 1px dashed #333;
  border-color: #8b4513
}
.form-control0 {
  border-radius: 15px 240px 15px 120px / 240px 15px 185px 15px;
  border: 1px dotted #333;
  border-color: #8b4513
}


/*曜日ボタン*/

.moon,
.fire,
.water,
.wood,
.gold,
.all {
  color: #fff;
  padding: 1%;
  width: 40px;
  height: 40px;
  font-size:small;
  text-align: center;
  border: none;
  margin: 0px -10px -10px 3px;
  line-height:2px;
  mix-blend-mode: multiply;
}


.moon{
  background: #b0c4de;
  border-radius: 30% 50% 50% 70%/50% 50% 70% 60%;
}

.fire{
	background: #ff6347;
  border-radius: 80% 30% 50% 50%/50%;
}

.water{
	background: #4682b4;
  border-radius: 40% 30% 50% 40%/30% 50% 50% 50%;
}

.wood{
	background: #6b8e23;
  border-radius: 50% 60% 50% 70%/50% 50% 70% 60%;
}

.gold{
	background: #ffd700;
  border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
}

.all{
	background: #db7093;
  border-radius: 30% 70% 50% 80%/50%;
}




/*結果*/
.result{
	font-size:x-small;
	color: #594639;
}







/*.circle-1,
.circle-2,
.circle-3 {
  color: #fff;
  padding: 5%;
  width: 180px;
  height: 180px;
  margin: 0 -15px;
  mix-blend-mode: multiply;
}
.circle-1 {
  background: #f66;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
}
.circle-2 {
  background: #f92;
  border-radius: 80% 30% 50% 50%/50%;
}
.circle-3 {
  background: #fc2;
  border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
}

body {
  display: flex;
  justify-content: center;
  padding: 20px;
  background: #ffd;
}

@media (max-width: 600px) {
  body {
    flex-direction: column;
  }
}*/

/*.btnbtn-outline-primary,
.circle-2,
.circle-3 {
  color: #fff;
  padding: 5%;
  width: 180px;
  height: 180px;
  margin: 0 -15px;
  mix-blend-mode: multiply;
}
.btnbtn-outline-primary {
  background: #f66;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
}
.circle-2 {
  background: #f92;
  border-radius: 80% 30% 50% 50%/50%;
}
.circle-3 {
  background: #fc2;
  border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
}

body {
  display: flex;
  justify-content: center;
  padding: 20px;
  background: #ffd;
}

@media (max-width: 600px) {
  body {
    flex-direction: column;
  }
}
*/












